<html>

<body>
    <h1>User Form</h1>
    <form action="/userForm" method="POST">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Location</td>
                <td><input type="text" name="location"></td>
            </tr>
            <tr>
                <td>Profession</td>
                <td><input type="text" name="profession"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
            <tr>
                <td>Phone NUMBER</td>
                <td><input type="text" name="phone"></td>
            </tr>
            <td colspan="2"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</body>

</html>